#login {
    height: 100vh;
    background-color: #8cc8ff;
}
.login-wrap{
    width: 330px;
    margin: auto;
}
.menu-tab{
    text-align: center;
li{
    display: inline-block;
    width: 88px;
    height: 36px;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
}
.current{
    background-color: rgba(0,0,0,.1);
}